.box
  .topbun 
    .seeds
      .seed_1
      .seed_2
      .seed_3
      .seed_4
      .seed_5
      .seed_6
      .seed_7
      .seed_8
    .tomato
    .beef
    .cheese
  .bottombun
  .plate
  

  
  